# Framework y UI
streamlit

# LangChain y Modelo de IA
langchain
langchain-community
langchain-google-genai
google-generativeai

# Integraciones de LangChain para Embeddings y Chroma
langchain-huggingface
langchain-chroma

# Base de Datos Vectorial y Embeddings
chromadb
sentence-transformers

# Carga y Procesamiento de Documentos
pypdf

# Utilidades y Entorno
python-dotenv

# Visión y Soporte Interno
torch
torchvision