# Variables de entorno
python-dotenv==1.2.2

# Ingesta y procesamiento de PDF
pypdf==6.14.2

# Base de datos vectorial
chromadb==1.5.9
langchain-chroma==1.1.0

# Embeddings y modelos locales (HuggingFace)
sentence-transformers==5.6.1
langchain-huggingface==1.2.2

# Integracion con Google Gemini (LLM)
langchain-google-genai==4.3.1
google-genai==2.14.0

# Core de LangChain
langchain-core==1.5.1